.hero-text {
    padding: 20px;
}

.hero-image {
    height: 100%;
    width: 348px;
}

.btn-icon {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

.btn-text {
    color: #333;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.btn {
    display: flex;
    width: 260px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.hero-content {
    width: 380px;
    color: #FFF;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
}