.sidebar {
    width: 260px;
    background: var(--bg-light);
    border-right: 1px solid var(--border);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    gap:427px;
}


.sidebar-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    align-self: stretch;
}

.container-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    align-self: stretch;
}
.logo{
    background: linear-gradient(83deg, #4798F4 -8.53%, #3FFBC3 99.4%);
  background-clip: text;
  -webkit-background-clip: text; /* necessario per Chrome/Safari */
  color: transparent; /* fallback */
  -webkit-text-fill-color: transparent;
}
.sidebar-header {
    font-size: 1.75rem;
    font-weight: 700;
    background: linear-gradient(90deg, var(--primary), #A64BCF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.user-info {
    display: flex;
flex-direction: row;
align-items: center;
margin-top: 20px;
align-self: stretch;
padding:0 !important;

}

.menu-item {
    display: flex;
    height: 48px;
    padding: 10px 20px;
    align-items: center;
    margin-bottom: 10px;
    align-self: stretch;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-self: stretch;
    padding: 0 !important;
}
